@import '../../css/mixins';

.feature {
	@include rounded-form;
	padding: 7px 9px 7px 20px;

	margin-bottom: 15px;
	width: 500px;
	max-width: 100%;
	position: relative;

	&__header {
		line-height: 1.7;
		cursor: pointer;

		&_title {
			color: var(--blue);
			transition: all 0.15s linear;
		}

		&_btn {
			margin-left: 10px;
			position: absolute;
			top: 10px;
			right: 0;
		}
	}
	&__list {
		padding-right: 10px;
		height: 0;

		&.show {
			height: max-content;
			max-height: 500px;
		}

		li {
			padding: 4px 0;
			display: flex;
			align-items: flex-start;

			span {
				margin-top: 4px;
				margin-right: 5px;
				font-size: 14px;
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	.feature {
		&__header {
			&:hover &_title {
				color: var(--blue-dark);
			}
		}
	}
}
