@import '../../css/mixins';

.search {
	margin: 0 auto;
	position: relative;
	width: 500px;
	max-width: 95%;
	text-align: center;

	&__input {
		@include rounded-form;

		color: var(--gray-dark);
		display: inline-block;
		width: 100%;

		&::placeholder {
			color: var(--gray-light);
		}
		&:focus {
			outline-color: var(--gray);
		}
	}

	&__clear {
		color: var(--gray-dark);
		position: absolute;
		top: 50%;
		right: 5px;
		transform: translateY(-50%);

		animation: in 0.5s;

		> span {
			transition: transform 0.15s linear;
			&:hover {
				transform: rotate(90deg);
			}
		}
	}
}

@keyframes in {
	from {
		opacity: 0;
		right: 0;
	}

	to {
		opacity: 1;
		right: 5px;
	}
}
