@import '../../css/mixins';

.search {
	margin: 0 auto;
	max-width: 100%;
	display: flex;
	justify-content: center;

	&__form {
		width: 635px;
		max-width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		position: relative;

		&_wrapper {
			margin-bottom: 25px;
			margin-right: 12px;
			width: 500px;
			max-width: 95%;
			position: relative;
		}

		&_input {
			@include rounded-form;

			width: 100%;
			display: inline-block;
			color: var(--gray-dark);

			&::placeholder {
				color: var(--gray-light);
			}
			&:focus {
				outline-color: var(--gray);
			}
		}

		&_btn {
			@include rounded-form;

			min-width: 180px;
			height: 37px;

			background-color: var(--gray-light);
			color: var(--white);
		}

		&_warn {
			position: absolute;
			left: 10px;
			bottom: -22px;

			color: var(--red-light);
			font-style: italic;
		}

		&_response {
			opacity: 0;
			width: 100%;
			position: absolute;
			left: 50%;
			bottom: -22px;
			transform: translateX(-50%);

			color: var(--blue);
			font-style: italic;
			text-align: center;

			animation: out 2s linear forwards;
		}
	}

	&__clear {
		color: var(--gray-light);
		width: 24px;
		height: 24px;
		cursor: pointer;

		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);

		animation: in 0.5s;

		> span {
			transition: transform 0.15s linear;
			&:hover {
				transform: rotate(90deg);
			}
		}
	}
}

@media screen and (min-width: 769px) {
	.search {
		&__form {
			&_wrapper {
				margin-bottom: 0;
			}

			&_response {
				left: 10px;
				transform: translateX(0);
				text-align: left;
			}

			&_btn {
				min-width: 120px;
				transition: all 0.15s linear;

				&:hover {
					background-color: #b1b4b9;
				}
			}
		}
	}
}

@keyframes in {
	from {
		opacity: 0;
		right: 0;
	}

	to {
		opacity: 1;
		right: 10px;
	}
}
