@import '../../css/mixins.scss';

.variables {
	@include in-animate;
	opacity: 0;

	&__inner {
		margin: 0 auto;
		padding: 0;
		width: 80%;
	}

	&__title {
		margin-bottom: 10px;
		text-align: left;
	}

	&__list {
		height: 600px;

		li {
			margin-bottom: 2px;
		}
	}
}

@media screen and (min-width: 1200px) {
	.variables {
		&__list {
			li:hover {
				color: var(--blue-dark);
				font-weight: 700;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.variables {
		&__inner {
			padding: 0 20px;
			width: 500px;
			max-width: 100%;
		}
	}
}
