.feature-card-enter {
	opacity: 0;
}

.feature-card-enter-active {
	animation: in 500ms linear;
}

.feature-card-enter-done {
	opacity: 1;
}

.feature-card-exit-active {
	animation: out-right 500ms ease-in;
}

.form-response-enter-active {
	animation: out 2000ms linear;
}

.form-response-enter-done {
	opacity: 0;
}
.form-response-exit-active {
	animation: out 2000ms linear;
}

.form-response-exit-done {
	opacity: 0;
}

@keyframes in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes out {
	0% {
		opacity: 1;
	}

	75% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes out-right {
	from {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		opacity: 0;
		transform: translateX(50%);
	}
}
