@import 'material-icons/iconfont/material-icons.css';
@import './animations.scss';

:root {
	--white: #ffffff;
	--gray-light: #9ca3af;
	--gray: #6b7280;
	--gray-dark: #1f2937;
	--zinc: #52525b;
	--gold: #fbbf24;
	--blue: #3b82f6;
	--blue-dark: #1e40af;
	--red-light: #f87171;
	--main-bg: #f9fafb;
}

*,
::after,
::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0 0 40px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--main-bg);
	font-size: 16px;
	line-height: 1.2;
}

.container {
	margin: 0 auto;
	padding: 0 10px;
	width: 1160px;
	max-width: 100%;
}

h1,
h2,
h3,
p,
img,
ul,
li,
form,
article {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: inherit;
}

button {
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	user-select: none;
}
